<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About me</a></li>
        <li><a href="/contact">Contact me</a></li>
      </ul>
    </nav>
    <br />
    <br />
    <h2>About Me</h2>
    <h4>
      My name is Udoh, Victory Andrew. I am a MERN stack web develoh4er, i love
      watching anime
    </p>
  </body>
</html>
