<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Me</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About me</a></li>
        <li><a href="/contact">Contact me</a></li>
      </ul>
    </nav>
    <br />
    <br />
    <h1>Contact me</h1>
    <br />
    <h3>My Socials</h3>
    <br />
    <h4>
      Github:
      <a href="https://github.com/victrudoh">https://github.com/victrudoh</a>
    </h4>
    <br />
    <h4>
      LinkedIn:
      <a href="https://www.instagram.com/livelikeeddy/"
        >https://www.instagram.com/livelikeeddy/</a
      >
    </h4>
    <br />
    <h4>
      Twitter:
      <a href="https://mobile.twitter.com/vic3udoh"
        >https://mobile.twitter.com/vic3udoh</a
      >
    </h4>
    <br />
  </body>
</html>
